DATABASE_HOST=mysql
DATABASE_PORT=3306
DATABASE_USER=agoradit
DATABASE_PASSWORD=troque-esta-senha
DATABASE=agoradit
PASTA_UPLOAD_MYSQL=/uploads/
PORTAL_TOKEN=
CORS_ORIGINS=http://localhost:4200,http://localhost
