<div class="container">
  <h1>Consulta Pública</h1>

  <div class="busca">
    <input
      #inputCnpj
      [value]="cnpj"
      (input)="cnpj = inputCnpj.value"
      placeholder="Digite o CNPJ"
      (keyup.enter)="pesquisar()"
    />
    <button (click)="pesquisar()">Pesquisar</button>
  </div>

  @if (loading) {
    <div class="loading">Carregando...</div>
  }

  @if (!loading && cnpj) {

    <div class="infos-voto-row">
      <app-infos [cnpj]="cnpj" />
      <app-voto  [cnpj]="cnpj" />
    </div>

    <div class="tabs">
      <button (click)="aba = 'despesas'">Despesas</button>
      <button (click)="aba = 'notas'">Notas</button>
    </div>

    <app-despesas
      [cnpj]="cnpj"
      [style.display]="aba === 'despesas' ? 'block' : 'none'">
    </app-despesas>

    <app-notas
      [cnpj]="aba === 'notas' ? cnpj : ''"
      [style.display]="aba === 'notas' ? 'block' : 'none'">
    </app-notas>

  }
</div>